.admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;
  background: linear-gradient(
    0.56deg,
    rgba(123, 157, 156, 0.25) 0.74%,
    rgba(123, 157, 156, 0) 86.46%
  );
}
